@media print{
				
				.bc-div{				
					
					margin-bottom: 700px!important;
				}
				
				
			.bcodelabel{				
				width: 100%;
				FONT-SIZE: 30PX;
				FONT-FAMILY: ARIAL;
				COLOR: #000;
				FONT-WEIGHT: 700;
				}
				
		}		
			